@charset "UTF-8";

section#conteudo {
width: 1000px;
margin: auto;

}
iframe#frame-spec {
  width: 400px;
  height: 280px;
  border: none;
  overflow: hidden;
  
    }

    /*Tira a borda feia quando você clica na imagem da especificações para abrir outra aba*/
  area {
    outline: 0;
  }